<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- XMLConfigBuilder.parse() 主要负责解析 mybatis-config.xml 文件 -->
<configuration>

    <!-- properties 节点 -->
    <properties>
        <property name="username" value="123456"/>
        <property name="id" value="12345"/>
    </properties>

    <!-- setting 节点 -->
    <settings>
        <!-- 下划线与驼峰式命名规则的映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- 开启 CachingExecutor 默认开启-->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>

        <!-- LOG4J, STDOUT_LOGGING -->
        <setting name="logImpl" value="LOG4J"/>

        <!-- 非 RowBounds和ResultHandler 对于无@Param 注解的参数 是以 0 标识还是 agr0  -->
        <!--<setting name="useActualParamName" value="false"/>-->
    </settings>


    <!--typeAliases 用于定义别名-->
    <typeAliases>
        <!--<package name="com.fang.doit.spring.mybatis"/>-->
        <typeAlias type="com.fang.doit.spring.mybatis.User" alias="user"/>

    </typeAliases>

    <!-- plugins 提供插件机制用户可以自定义在SQL的某一点进行拦截-->
    <plugins>
        <plugin interceptor="com.fang.doit.spring.mybatis.RecordSqlPlugin">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

    <!-- 添加自定义 Objectory, ObjectWrapperFactory实现类, 及ReflectorFactory实现类对Mybatis扩展 -->
    <!--<objectFactory type=""-->

    <!--<objectWrapperFactory type=""-->

    <!--<reflectorFactory type=""-->


    <!-- 用于定义全局的类型处理器 -->
    <!--<typeHandlers>-->
        <!--&lt;!&ndash;<typeHandler handler="com.fang.doit.spring.mybatis.UserTypeHandler"></typeHandler>&ndash;&gt;-->
    <!--</typeHandlers>-->

    <!-- 不结合Spring 单独配置数据源 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理类型 -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://47.100.237.162:3306/test?useUnicode=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--用于配置 SQL 映射文件的位置信息-->
    <mappers>
        <mapper resource="mybatis/UserMapper.xml"/>
    </mappers>


</configuration>