<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 下划线与驼峰式命名规则的映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
    </settings>

    <!--用于定义别名-->
    <typeAliases>
        <!--<package name="com.fang.doit.spring.mybatis"/>-->
        <typeAlias type="com.fang.doit.spring.mybatis.User" alias="user"/>
    </typeAliases>


    <!--用于定义全局的类型处理器-->
    <typeHandlers>
        <!--<typeHandler handler=""-->
    </typeHandlers>

    <!-- 配置数据源 -->
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"/>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${jdbc.driver}"/>-->
                <!--<property name="url" value="${jdbc.url}"/>-->
                <!--<property name="username" value="${jdbc.username}"/>-->
                <!--<property name="password" value="${jdbc.password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->


    <!--用于配置 SQL 映射文件的位置信息-->
    <mappers>
        <mapper resource="mybatis/UserMapper.xml"/>
    </mappers>


</configuration>