<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- XMLMapperBuilder.parse() 解析 -->
<mapper namespace="com.fang.doit.frame.spring.mybatis.UserMapper">

    <!-- 为命名空间单独开启二级缓存 eviction：淘汰策略 默认LRU；size：缓存的容量为 512 个对象引用；flushInterval：缓存每隔60秒刷新一次 -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="false" type="PERPETUAL" blocking="false">
        <!--<property name="" value=""-->
    </cache>

    <!-- UserMapper 和 UserMapper2 共用一个二级缓存 -->
    <!--<cache-ref namespace="com.fang.doit.frame.spring.mybatis.UserMapper2"/>-->

    <resultMap id="resultMap" type="com.fang.doit.frame.spring.mybatis.User" autoMapping="true">
        <!--<constructor>-->
            <!--<idArg column="id" javaType="Long"/>-->
        <!--</constructor>-->

        <result property="id" column="id"/>
        <!--<result column="name" property="name"/>-->


        <!--<discriminator javaType="">-->
            <!--<case value=""></case>-->
        <!--</discriminator>-->
    </resultMap>

    <!-- extends的使用 resultMap 时候必须全部包含 -->
    <resultMap id="userWithGradeResultMap" type="com.fang.doit.frame.spring.mybatis.Grade">
        <result column="grade" property="grade" jdbcType="VARCHAR" javaType="BigDecimal"/>
        <result column="grades" property="grades" jdbcType="VARCHAR"
                typeHandler="com.fang.doit.frame.spring.mybatis.UserTypeHandler"/>
        <!-- association 是在一对一的情况下 -->
        <association property="user" javaType="com.fang.doit.frame.spring.mybatis.User" autoMapping="true">
            <result property="id" column="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>


    <resultMap id="userGradesResultMap" type="com.fang.doit.frame.spring.mybatis.User" extends="resultMap" autoMapping="true">
        <!-- 一对多映射 -->
        <collection property="gradeList" javaType="list" ofType="com.fang.doit.frame.spring.mybatis.Grade">
            <result column="grade" property="grade"/>
            <result column="type" property="type"/>
        </collection>
    </resultMap>


    <select id="selectUser" parameterType="java.lang.String" resultType="com.fang.doit.frame.spring.mybatis.User">
        select * from user where name =#{username}
    </select>

    <select id="getUserGrade" resultMap="userWithGradeResultMap">
        select * from grade as g left join user u on g.user_id = u.id where u.name=#{username}
    </select>

    <select id="getUserWithGrades" resultMap="userGradesResultMap">
        select * from user as u left join grade g on g.user_id = u.id where u.name=#{username}
    </select>


</mapper>